@font-face {
    font-family: "Heading";
    src: url("/Fonts/made_sunflower_personal_use-webfont.woff2") format(woff2);
}
@font-face {
    font-family: "Paragraph";
    src: url("/Fonts/lato-regular-webfont.woff2") format(woff2);
}

h1{
    font-family: "Heading", sans-serif;
}

p{
    font-family: "Paragraph", serif;
}